-
	var areas =
		[
			{
				img: "",
				title: "Автотранспорт"
			},
			{
				img: "",
				title: "Будівництво, архітектура, землекористування"
			},
			{
				img: "",
				title: "Громадянство"
			},
			{
				img: "",
				title: "Захист прав дитини"
			},
			{
				img: "",
				title: "Реєстрація місця проживання/перебування"
			},
			{
				img: "",
				title: "Підприємницька діяльність"
			},
			{
				img: "",
				title: "Санітарне та епідемічне  благополуччя,  ветеринарна медицина"
			},
			{
				img: "",
				title: "Комунальне господарство"
			},

		]