-
	var areas =
		[
			{
				img: "one.jpeg",
				title: "Автотранспорт"
			},
			{
				img: "two.jpeg",
				title: "Будівництво, архітектура, землекористування"
			},
			{
				img: "three.jpeg",
				title: "Громадянство"
			},
			{
				img: "four.jpeg",
				title: "Захист прав дитини"
			},
			{
				img: "five.jpeg",
				title: "Реєстрація місця проживання/перебування"
			},
			{
				img: "six.jpeg",
				title: "Підприємницька діяльність"
			},
			{
				img: "seven.jpeg",
				title: "Санітарне та епідемічне  благополуччя,  ветеринарна медицина"
			},
			{
				img: "eight.jpeg",
				title: "Комунальне господарство"
			}
		]