.section
	color: #6d7179
	background: #c9e1ef
	&__container
		display: flex
		justify-content: center
		flex-wrap: wrap
		max-width: 1200px 
		margin: 0 auto
	&__title
		text-align: center
		padding-top: 15px
		@media #{$phone}, #{$tablet-port}
			display: none
