extends root

block meta
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

block styles
	link(rel="stylesheet" href=asset("styles.css"))

block scripts
	script(src=asset("main.js"))

block main
	block content


