include ../../node_modules/bemto.pug/bemto
include ../globals/common
include ../globals/data
include ../globals/mixins

include ../blocks/all

block params
	- var pageTitle = "main"
   
doctype html
html
	head
		title= pageTitle
		block meta
		block styles
	body
		block main
		block scripts