@import '../../assets/s/variables'
.header
	display: flex
	justify-content: center
	align-items: center
	flex-wrap: wrap
	background-color: #383e49
	color: #fff
	&__logo
		height: 50px
		padding: 10px
	&__title
		padding: 20px 0