@import '../../assets/s/variables'
// $phone
// $tablet-port
// $tablet-land
// $desktop
.header
	display: flex
	justify-content: center
	align-items: center
	flex-wrap: wrap
	height: 80px
	background-color: #383e49
	color: #fff
	&__logo
		height: 40px
		padding: 5px 50px
	&__title
	// @media #{$tablet-port}
		// display: block
		// width: 100%
		// text-align: center